saved_image.jpg
dummy.jpg
yolov11.pt
yolo26x.pt
yolo11l.pt
yolo11n.pt

/venv/

3DRecon/.venv/
3DRecon/output
3DRecon/Depth-Anything-3

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/public/generated_models/
frontend/public/latest.glb

# Data
captured_scans/

# General
.DS_Store
.vscode/
.idea/
*.log
